body{
  background-image: url(https://www.xmple.com/wallpaper/cyan-azure-3d-cubes-1920x1080-c3-17252a-3d7383-76b6c9-l-268-a-225-f-11.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FEFFFF;
font-family: 'Raleway', sans-serif;
}

header{font-family: 'Modak', cursive;
       font-size: 43px;
       color: #FEFFFF;}

.main{
    width: 85vw;
    height: auto;
    margin-top: 2vh;
    margin-left: 5vw;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.left-side{
width: 40vw;
margin-right: 20px;}

.right-side{
background-color: rgb(7, 16, 24);
width: 40vw;
text-align: center;
padding: 20px;
font-size: 20px;
border-radius: 8px;
color: #FEFFFF;
font-family: 'Roboto Mono', monospace;
}




.h-container{
    width: 100%;
    height: 35%;}

    input{width: 100%;
      height: 40%;
      background-color: #ffffff;
      border: 0;
      border-radius: 50px;
      text-align: center;
      font-size:35px ;
      color: #17252A;
      margin-top: 17px;
      }

      label{
        font-size: 25px;
        font-weight: 700;
        color: #2b7a78;
        }

        .b-container{
          display: flex;
          justify-content: center;
         }

        button{background-color: rgb(7, 16, 24);
         color: white;
         border-style: none;
         width:90px;
         height: 40px;
         border-radius: 5px;}

     h2{font-weight: 600;}
    


footer{
    color: yellow;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Sacramento', cursive;
  
  }



  @media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {

    .main{display: block;
    justify-content: center;}

    .right-side{
      margin-top: 20px;
      width: 75%;
      height: auto;
      padding: 20px;
      font-size: 24px;
      }

    .left-side{
      height: 50%;
      
    }

      input{width: 200%;
        height: 55%;
        font-size:25px ;
        }

        button{
          margin-left: 0;
          margin-top: 10px;
        }

        .b-container{
          display: flex;
          justify-content: left;
         }

         label{
           margin-top: 10px;
         }
      
  }