body{
  background-image: url(https://i.pinimg.com/originals/81/c4/e7/81c4e7e1626260b07482153600e844aa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
font-family: 'Raleway', sans-serif;
}

header{font-family: 'Modak', cursive;
       font-size: 43px;
       color: rgb(16, 68, 209);}
.main{
    width: 85vw;
    height: 75vh;
    margin-top: 2vh;
    margin-left: 5vw;
    
    padding: 20px;
    display: flex;
    justify-content: center;
}

.left-side{

width: 40vw;
margin-right: 20px;}

.right-side{
background-image: url(https://image.freepik.com/free-photo/blue-powder-explosion-white-background-colored-cloud-colorful-dust-explode-paint-holi_44314-891.jpg);
background-repeat: no-repeat;
background-size: cover;
opacity: 0.8;
width: 40vw;
text-align: center;
padding: 20px;
font-size: 20px;
border-radius: 8px;
color: rgb(1, 8, 24);
}




.h-container{
    width: 100%;
    height: 35%;}

    input{width: 100%;
      height: 40%;
      background-color: rgba(250, 250, 250, 0.252);
      border: 0;
      border-radius: 3px;
      text-align: center;
      font-size:35px ;
      color: white;
      }

      label{
        font-size: 25px;
        
        font-weight: 700;
        }

        .b-container{
          
          display: flex;
          justify-content: center;
        }

        button{background-color: rgb(27, 83, 238);
         color: white;
         border-style: none;
         
         width:90px;
         height: 40px;
         border-radius: 5px;}

     h2{font-weight: 600;}
    


footer{
    color: yellow;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Sacramento', cursive;
  
  }